{% extends 'base.html' %}

{% block title %}14B Events{% endblock %}

{% block content %}

    <h2 class="text-center">Google Calendar Events</h2>
    <div style="width:100%; height:auto 0px;  padding-left:12%" >
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&mode=WEEK&showNav=1&showDate=1&showPrint=1&src=dG9rYW1hY2hpYnBwQHBvd2VyLWd1YXJkLmpw&color=%23A79B8E" style="border-width:0" width="1150" height="600px" frameborder="0" scrolling="no"></iframe>
    </div>

{% endblock %}