{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!--  in build CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <title>PG</title>
    </head>
    <body>
      <div>
        <div class="navbar fixed-top" data-bs-theme="dark" id="nav-bar">
          <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
          {%  if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
              <img src="{% static 'images/user.png' %}" alt="" class="img-fluid" style="height: 65px; margin-right: 15px; ">
              <div id="logintitle">
                  <p>{{ request.user.username }}</p>
                  <a href="{% url 'logout_user' %}" class="btn btn-sm btn-danger" style="margin-top: -15px;">Logout</a> 
              </div>
            </div>
          {% endif %}
        </div>

        {%  if request.user.is_authenticated %}
          <div style="margin-top: 90px; padding-left:10px;">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()" id="span">&#9776;</span> 
          </div>

          <div id="mySidenav" class="sidenav">
            <ul>
              <!-- {{request.path}} -->
              <li >
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              </li>
              {% if perms.wood_scaling.view_woodscaling %}
                <li class="{% if request.path == '/wood-scaling/list'  %} active {% endif %}">
                  <a href="/wood-scaling/list" >Wood</a>
                </li>
              {% endif %}
              {% if perms.wood_scaling.add_woodscaling %}
                <li class="{% if '/upload_csv/' in request.path %} active {% endif %}">
                  <a href="/wood-scaling/upload_csv">Upload CSV</a>
                </li>
              {% endif %}
              <li class="{% if request.path == '/event-list/' %} active {% endif %}">
                <a href="/event-list">Event</a>
              </li>
              {% if perms.wood_scaling.view_supplier %}
                <li class="{% if '/supplier/' in request.path %} active {% endif %}">
                  <a href="/wood-scaling/supplier">Supplier</a>
                </li>
              {% endif %}
              {% if perms.doc_pdf.view_supplierlogo %}
                <li class="{% if '/supplier_logo/' in request.path %} active {% endif %}">
                  <a href="/certificate/supplier_logo/">Add Logo</a>
                </li>
              {% endif %}
              {% if perms.doc_pdf.view_certificate %}
                <li class="{% if '/verification/' in request.path %} active {% endif %}">
                  <a href="/certificate/verification/">Certificate</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
    </div> 

      <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "175px";
            document.getElementById("mySidenav").style.marginTop = "70px";
            document.getElementById("main-conten").style.marginLeft = "175px";
            }

            function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main-conten").style.marginLeft= "0";
            }
      </script>