{% extends 'base.html' %}

{% load static %}

{% block content %}
      <h2 class="mb-4 text-center">Edit Forest Data of {{forest.id}}</h2>
      <form method="post" action="" class="mt-3" id="EditForestForm">
        {% csrf_token %}
        <table class="table-sm table-bordered custom-table">
          <tbody>
            <tr>
              <th scope="row" >Supplier id:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.supplier_id }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Forest id:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.id }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Location:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.location }}
                {{ form.location.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >K. Location:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.k_location }}
                {{ form.k_location.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Date:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.date }}
                {{ form.date.errors }}
              </td>
            </tr>
            <tr>
                <th scope="row" >Registration:<span style="color: red;"><sup>*</sup></span></th>
                <td>
                  {{ form.registration }}
                  {{ form.registration.errors }}
                </td>
            </tr>
            <tr>
              <th scope="row" >Authority:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.authority }}
                {{ form.authority.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Classification:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.classification }}
                {{ form.classification.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Removal:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.removal }}
                {{ form.removal.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Area:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.area }} m<sup>2</sup>
                {{ form.area.errors }}
              </td>
            </tr>
            <tr>
            <th scope="row" >Distance:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.distance }} Km
                {{ form.distance.errors }}
              </td>
            </tr>
            <tr>
              <th scope="row" >Document:<span style="color: red;"><sup>*</sup></span></th>
              <td>
                {{ form.document }}
                {{ form.document.errors }}
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" id="SaveEditForestBtn">Save Changes</button>
          <button type="button" class="btn btn-secondary" onclick="goBack()">Cancel</button>
        </div>
      </form>
  
<script>
    function goBack() {
        window.history.back();
    }
    document.getElementById('SaveEditForestBtn').addEventListener('click', function () {
        if (confirm("Are you sure the updated information is correct?")) {
            document.getElementById('EditForestForm').submit();
        } else {
            // Do nothing or provide feedback to the user
        }
    });
</script>
{% endblock %}