{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="">
        <h2 class="text-center">Upload CSV</h2>
        <br><br>
        {% if success %}
            <p style="color: green;">Data uploaded successfully!</p>
        {% endif %}
        {% if error_message %}
            <p style="color: red;">Error: {{ error_message }}</p>
        {% endif %}
        <form method="post" enctype="multipart/form-data"  class="text-center">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Upload</button>
        </form>
    </div>
    <br><br>
{% endblock %}
